.badge {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  left: 5px;

  &--grey {
    background-color: #C9D1D3;
  }
  
  &--green {
    background-color: #42b883;
  }

  &--blue {
    background-color: #64c4ed;
  }

  &--pink {
    background-color: #ffbbcc;
  }

  &--lime {
    background-color: #B6E6BD;
  }

  &--purple {
    background-color: #C355F5;
  }

  &--black {
    background-color: #110133;
  }

  &--red {
    background-color: #FF6464;
  }
}