* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo {
  display: flex;
  max-width: 700px;
  height: 430px;
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;

  &__sidebar {
    background-color: #f4f6f8;
    border: 1px solid #f1f1f1;
    padding: 60px 20px;
    min-width: 200px;
  }

  &__tasks {
    min-width: 400px;
  }
}

.button {
  background-color: #05acac;
  border-radius: 4px;
  color: #ffffff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: darken(#05acac, 5%);
  }

  &:active {
    background-color: darken(#05acac, 8%);
  }
}

.field {
  background-color: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;

  &:focus {
    border-color: #cecccc;
  }
}
